.testimonials {
    &__slider {
        // max-width: 545px;
        // margin: 0 auto;
    }
    &__item {
        font-family: 'Raleway', sans-serif;
        line-height: 25px;
        font-weight: 300;

        &__text {
            font-size: 18px;
            color: #848282;
            max-width: 545px;
            margin: 0 auto;
        }
        &__author {
            font-size: 14px;
            color: #a0a0a0;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
}
