#works {
    width: 100%;
    // height: 1280px;
}

.temporary-block {
    height: 1280px;
    background: #aaa;


}

.works {

    &__load-more-btn {
        margin-top: 80px;
        width: 200px;
    }
}

// all code in this file is demonstrative
